/* Move down content because we have a fixed navbar that is 50px tall */
body {
 	padding-top: 50px;
  color: #95959d;
  font-family: Arial Narrow, 'Hind Siliguri', sans-serif, Georgia;
  font-size: 18px;
}

h1, h2 {
  font-family: 'Atma', Georgia;
  color: #50afaf;
}

h3 {
  font-family: 'Atma', Georgia;
  color: #50afaf;

}

h4 {
  font-family: 'Atma', Georgia;
  color: #50afaf;
  margin-top: 0px;
}

strong {
  color: #50afaf;
  font-family: 'Atma', Georgia;
}

#aboutus {
    padding-top: 30px;
    padding-bottom: 50px;
}

#service {
    background-color: #f5f5f5;
    padding-bottom: 50px;
}

#footer {
    background-color: #CD5360;
    color:  white;
    text-align: right;
}

#footer p {
    padding-top: 150px;
    padding-bottom: 10px;
    font-size: 105px;
    opacity: 0.2;
    font-family: 'Atma', sans-serif, Georgia;
    font-weight: 300;
    text-align: center;
}

#footer h2{
    color: white;
}

#footer span{
    font-size: 1em;
    font-family: Arial Narrow, 'Hind Siliguri', sans-serif, Georgia;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#back-to-top a {
    color: #95959d;
}

#costs {
    background: #dcefef;
}

#reiseprogramm {
    background-color: white;
}

#reiseprogramm strong {
    color: #95959d;
    font-family: Arial Narrow, 'Hind Siliguri', sans-serif, Georgia;
}

.reiseprogramm p{
    line-height: 18px;
}

.reiseprogramm img {
    margin-bottom: 30px;
}

.fa-thumbs-o-up {
    font-size: 4em;
    color: #50afaf;
    text-align: left;
}

.aboutus img {
    padding-bottom: 10px;
    padding-top: 30px;
}

.aboutus p {
    padding-left: 70px;
    padding-right: 70px;
}

.jumbotron {
    text-align: right;        
    font-family: 'Atma', Georgia;
    color: white;
    padding-bottom: 280px;
    background-image: url('../images/mudra.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -612px;
    background-attachment: fixed;
}

.jumbotron h1 {
    font-size: 5em;
    padding-top: 50px;
}

.jumbotron p {
    font-size: 2.5em;
}

.intropink {
    color: #CD5360;
}

.intromain img {
    padding: 5px;
}

.nav {
	font-family: 'Atma', Georgia;
	font-size: 20px;
}

.intro {
    font-family: 'Atma', Georgia;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 50px;

}

.intromain p{
    padding-top: 10px;
    font-family: 'Atma', Georgia;
    font-size: 26px;
}

.service {
    padding-top: 50px;
    padding-bottom: 50px;
}

.costs {
    padding-top: 50px;
    padding-bottom: 50px;
}

<<<<<<< HEAD
.reiseprogramm {
=======
.intro p{
    padding-top: 10px;
}

.packages {
	text-align: center;
>>>>>>> origin/master
    padding-top: 50px;
    padding-bottom: 50px;
}

.service p {
    padding-right: 20px;
    padding-left: 20px;
}

.aboutus {
    text-align: center;
    padding-bottom: 50px;
}

.navbar {
    background-color: #3e8e8e;
    border-color: #3e8e8e;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #3e8e8e;
}

.navbar-inverse .navbar-nav>li>a {
    color: #85c7c7;
}

.navbar-inverse .navbar-brand {
    color: #85c7c7;
}

.vmiddle {
    margin-top: 100px;        
    font-size: 0.8em;

}

.checklist {
    text-align: left;
    margin-left: 50px;
}

.smallprint {
  font-size: 14px;
  margin-top: 40px;
  margin-left: 35px;
  margin-right: 35px;
}

.lace {
  background-image: url('../images/lace-salmon.png');
  height: 74px;
  opacity: 0.2;
}

.actioncall {
  color: #e4e4e7;
  text-align: center;
  font-family: 'Atma', Georgia;
  font-size: 1.5em;
}

/* Google font: */
/* atma-300 - latin */
@font-face {
  font-family: 'Atma';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/atma/atma-v1-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Atma Light'), local('Atma-Light'),
       url('../fonts/atma/atma-v1-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/atma/atma-v1-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/atma/atma-v1-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/atma/atma-v1-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/atma/atma-v1-latin-300.svg#Atma') format('svg'); /* Legacy iOS */
}
/* atma-regular - latin */
@font-face {
  font-family: 'Atma';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/atma/atma-v1-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Atma'), local('Atma-Regular'),
       url('../fonts/atma/atma-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/atma/atma-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/atma/atma-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/atma/atma-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/atma/atma-v1-latin-regular.svg#Atma') format('svg'); /* Legacy iOS */
}
/* hind-siliguri-300 - latin */
@font-face {
  font-family: 'Hind Siliguri';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/hind-siliguri/hind-siliguri-v2-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Hind Siliguri Light'), local('HindSiliguri-Light'),
       url('../fonts/hind-siliguri/hind-siliguri-v2-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/hind-siliguri/hind-siliguri-v2-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/hind-siliguri/hind-siliguri-v2-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/hind-siliguri/hind-siliguri-v2-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/hind-siliguri/hind-siliguri-v2-latin-300.svg#HindSiliguri') format('svg'); /* Legacy iOS */
}


